{% extends "atnUserBundle::layout.html.twig" %}

{% block user_content %}
    Un mail de confirmation vous est envoyé. <a href="https://mail.google.com">Cliquez ici </a>
                                                                    
    {% endblock %}
