{% extends "::layout_global.html.twig" %}
{% block block_body %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <form action="{{ path('fos_user_security_logout') }}">
                <button  type="submit" class="btn btn-default">Déconnexion</button>

            </form>
            
        {% else %}
            <a href="{{ path('fos_user_security_login') }}"></a>
        {% endif %}
    </div> 

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block user_content %}
        {% endblock user_content %}
    </div>

{% endblock block_body %}

